.jogador-no-campo {
    position: absolute; 
    
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #333;
    border-radius: 50%;
    color: #333;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    cursor: grab;
    font-size: 10px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    
    user-select: none;
    
    z-index: 2;
}

.jogador-no-campo:active {
    cursor: grabbing;
    z-index: 100; 
}

.jogador-numero {
    font-size: 14px;
    font-weight: 700;
}
.jogador-nome-campo {
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}