<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Clube</title>
</head>
<body>
    <h1>Cadastro de Clube</h1>
    <form th:action="@{/clubes/salvar}" th:object="${clube}" method="post">
       <label>CNPJ: <input type="text" th:field="*{cnpj}" th:attr="readonly=${clube.cnpj != null}"/></label><br>
        <label>Nome: <input type="text" th:field="*{nome}"/></label><br>
        <label>Cidade: <input type="text" th:field="*{cidade}"/></label><br>
        <label>Estado: <input type="text" th:field="*{estado}"/></label><br>
        <label>País: <input type="text" th:field="*{pais}"/></label><br>
        <button type="submit">Salvar</button>
    </form>
    <a href="/clubes">Voltar</a>
</body>
</html>
