<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Empresários</title></head>
<body>
<h1>Lista de Empresários</h1>
<a th:href="@{/empresario/form}">Novo Empresário</a>
<table>
    <tr>
        <th>CPF</th><th>Nome</th><th>Agência</th><th>Registro FIFA</th><th>Ações</th>
    </tr>
    <tr th:each="e : ${empresarios}">
        <td th:text="${e.cpf}"></td>
        <td th:text="${e.pessoa.nome}"></td>
        <td th:text="${e.agencia}"></td>
        <td th:text="${e.registroFifa}"></td>
        <td>
            <a th:href="@{'/empresario/editar/' + ${e.cpf}}">Editar</a> |
            <a th:href="@{'/empresario/excluir/' + ${e.cpf}}">Excluir</a>
        </td>
    </tr>
</table>
</body>
</html>
