<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Protactic - Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo ao Protactic!</h1>
    <p>Esta é a página inicial.</p>

    <button onclick="location.href='/pessoa'">Pessoa</button>
    <button onclick="location.href='/clubes'">Clube</button>
    <button onclick="location.href='/clubes/novo'">Cadastrar Clube</button> <!-- Botão adicionado -->
    <button onclick="location.href='/analista'">Analista de Desempenho</button>
    <button onclick="location.href='/empresario'">Empresário</button>
    <button onclick="location.href='/jogador'">Jogador</button>
    <button onclick="location.href='/partida'">Partida</button>
    <button onclick="location.href='/desempenha'">Desempenha</button>
    <button onclick="location.href='/analisa'">Analisa</button>

</body>
</html>
